{% extends "golf/base.html" %}

{% load static %}

{% load user_tags %}

{% block title %} Scorekeeper {% endblock %}

{% block head_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{% static "scorekeeper/js/jquery.redirect.js" %}" type="text/javascript"></script>
  <link href="{% static "scorekeeper/css/multi-select.css" %}" media="screen" rel="stylesheet" type="text/css">
  <script src="{% static "scorekeeper/js/jquery.multi-select.js" %}" type="text/javascript"></script>
  <script src="{% static "scorekeeper/js/jquery.quicksearch.js" %}" type="text/javascript"></script>
  <script>
    var club = JSON.parse('{{ club|escapejs }}');
    var courseTees = JSON.parse('{{ courseTees|escapejs }}');
    var courses = JSON.parse('{{ courses|escapejs }}');
    var csrf_token = '{{ csrf_token }}';
  </script>
  <link rel="stylesheet" href="{% static "/scorekeeper/css/bootstrap.fd.css" %}">
  <script src="{% static "scorekeeper/js/bootstrap.fd.js" %}" type="text/javascript"></script>
  <script src="{% static "scorekeeper/js/director.js" %}" type="text/javascript"></script>
  <link href="{% static "scorekeeper/css/director.css" %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <!-- Main menu -->
    <div class="row">
      <div class="col-sm-5">
        <div class="row bottomSpaced">
          <button class="rounded shadow optionButton newTournament" id="newTournamentButton">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11 buttonHeading">
                Enter a Golf Tournament
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                Start entering the scores for a new tournament
              </div>
            </div>
          </button>
        </div>
        <div class="row bottomSpaced">
          <button class="rounded shadow optionButton editTournament"  id="editTournamentButton">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11 buttonHeading">
                Edit, View or Upload an Existing Golf Tournament
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                Load an existing tournament.
              </div>
            </div>
          </button>
        </div>
        <div class="row bottomSpaced">
          <button class="rounded shadow optionButton loadPlayers"  id="loadPlayersButton">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11 buttonHeading">
                Load Players
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                Last loaded: <span id="playerLoadDate"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                <div class="loadingHidden" id="playersLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>  Loading...</div>
              </div>
            </div>
          </button>
        </div>
        <div class="row bottomSpaced">
          <button class="rounded shadow optionButton editPlayers"  id="editPlayersButton">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11 buttonHeading">
                Edit Players
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                Manually update handicaps or add players outside of this club
              </div>
            </div>
          </button>
        </div>
{% if request.user|has_group:'Admins' %}
        <div class="row bottomSpaced">
          <button class="rounded shadow optionButton editcourses" id="editCoursesButton">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11 buttonHeading">
                Edit Courses
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
                Edit or add courses
              </div>
            </div>
          </button>
        </div>
{% endif %}
      </div>
      <div class="col-sm-7">
        <div class="row bottomSpaced">
          <div class="col-sm-12">
          <div class="rounded shadow optionPrintouts printouts" id="printIndexesSignupStarterSheetsButton">
            <div class="optionTextbox">
              <div class="row">
                <div class="col-sm-12 buttonHeading">
                  Club Printouts
                </div>
              </div>
              <div class="form-group form-group-sm small">
                <div class="row bottomSpaced">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsSignupCount">Signups</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control input-sm" type="number" value="0" min="0" max="9" id="clubPrintoutsSignupCount" />
                  </div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsStarterCount">Starter</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control input-sm" type="number" value="0" min="0" max="9" id="clubPrintoutsStarterCount" />
                  </div>
                </div>
                <div class="row bottomSpaced">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsProximityCount">Proximities</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control input-sm" type="number" value="0" min="0" max="9" id="clubPrintoutsProximityCount" />
                  </div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsNewMembersCount">NewMembers</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control input-sm" type="number" value="0" min="0" max="9" id="clubPrintoutsNewMembersCount" />
                  </div>
                </div>
                <div class="row bottomSpaced">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsMatchPlayCount">MatchPlay</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control input-sm" type="number" value="0" min="0" max="9" id="clubPrintoutsMatchPlayCount" />
                  </div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsMatchPlayersCount">PlayerCount</label>
                  </div>
                  <div class="col-sm-2">
                    <select class="form-control" id="clubPrintoutsMatchPlayersCount">
                      <option value="8">8</option>
                      <option value="16" selected>16</option>
                      <option value="32">32</option>
                      <option value="64">64</option>
                    </select>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <div class="row bottomSpaced">
                  <div class="col-sm-2">
                    <label for="clubPrintoutsRosterCount">Roster</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" type="number" value="0" min="0" max="9" id="clubPrintoutsRosterCount" />
                  </div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsSlopeCourse1">Course1</label>
                  </div>
                  <div class="col-sm-6">
                    <!-- Value set by director.js -->
                    <select class="form-control" id="clubPrintoutsCourse1"></select>
                  </div>
                </div>
                <div class="row bottomSpaced">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <label for="clubPrintoutsSlopeCourse2">Course2</label>
                  </div>
                  <div class="col-sm-6">
                    <!-- Value set by director.js -->
                    <select class="form-control" id="clubPrintoutsCourse2"></select>
                  </div>
                </div>
                <div class="row bottomSpaced">
                  <div class="col-sm-12">
                    <button class="btn fixed-width-btn btn-primary" id="clubprintoutsButton">Print</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
{% if request.user|has_group:'Admins' %}
        <div class="row bottomSpaced">
          <div class="col-sm-6">
            <button class="rounded shadow optionButton importexport" id="importExportBackupButton">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11 buttonHeading">
                  Import/Export/Backup
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  Import or export plugins, scores, formats or the database
                </div>
              </div>
            </button>
          </div>
          <div class="col-sm-6">
            <button class="rounded shadow optionButton settings" id="settingsButton">
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11 buttonHeading">
                  Settings
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  Set values for this club, add players, formats or courses
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  <div class="settingsHidden" id="settingsLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>  Loading...</div>
                </div>
              </div>
            </button>
          </div>
        </div>
{% endif %}
      </div>
    </div>

    <!-- New tournament wizard -->
    <!-- New tournament -->
    <div class="modal fade" id="newTournament" tabindex="-1" role="dialog" aria-labelledby="newTournamentLabel">
      <div class="modal-dialog modalNewTournament modal-lg newTournamentWizard-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newTournamentLabel">Enter New Tournament - Name</h4>
          </div>
          <div class="modal-body newTournamentWizard-body">
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <label for="newTournamentName">Name</label>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <!-- value set in director.js -->
                <input type=text class="newTournamentName form-control" id="newTournamentName" />
              </div>
              <div class="col-sm-3"></div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <label for="newTournamentRoundCount">Number of rounds</label>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <input type="number" class="newTournamentRoundCount form-control" id="newTournamentRoundCount" min=1 max=4 value=1 />
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-8"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentNextButton">Next (1-4)</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- New tournament duplicate -->
    <div class="modal fade" id="newTournamentDuplicate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:visible;">
		  <div class="modal-dialog modal-m">
		    <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="newTournamentDuplicateLabel">Duplicate tournament detected!</h4>
          </div>
		      <div class="modal-body">
		        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
		            <div class="" id="newTournamentDuplicateText">A tournament with the same name already exists.  Do you want to create a tournament with the same name?</div>
		          </div>
              <div class="col-sm-1"></div>
		        </div>
		      </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-2"><button class="btn fixed-width-btn btn-primary" id="newTournamentDuplicateCreateNewTournament">Create New</button></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2"><button class="btn fixed-width-btn btn-default" id="newTournamentDuplicateCancelTournament">Cancel</button></div>
              <div class="col-sm-3"></div>
            </div>
          </div>
		    </div>
		  </div>
		</div>

    <!-- New Tournament Rounds -->
    <div class="modal fade" id="newTournamentRounds" tabindex="-1" role="dialog" aria-labelledby="newTournamentRoundsLabel">
      <div class="modal-dialog modalNewTournamentRounds modal-lg newTournamentWizard-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newTournamentRoundsLabel">Enter New Tournament - Set Rounds</h4>
          </div>
          <div class="modal-body newTournamentWizard-body">
            <div id="newTournamentRoundsPlaceholder"><!-- page is built in director.js--></div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-6"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentRoundsBackButton">Back</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentRoundsNextButton">Next (2-4)</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- New Tournament Courses -->
    <div class="modal fade" id="newTournamentCourses" tabindex="-1" role="dialog" aria-labelledby="newTournamentCoursesLabel">
      <div class="modal-dialog modalNewTournamentCourses modal-lg newTournamentWizard-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newTournamentCoursesLabel">Enter New Tournament - Set Courses</h4>
          </div>
          <div class="modal-body newTournamentWizard-body">
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <select id="newTournamentCoursesMS" multiple="multiple" name="newTournamentCoursesMS[]">
                  <!-- options added by director.js -->
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-6"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentCoursesBackButton">Back</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentCoursesNextButton">Next (3-4)</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- New Tournament Course Tees -->
    <div class="modal fade" id="newTournamentCourseTees" tabindex="-1" role="dialog" aria-labelledby="newTournamentCourseTeesLabel">
      <div class="modal-dialog modalNewTournamentCourseTees modal-lg newTournamentWizard-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newTournamentCourseTeesLabel">Enter New Tournament - Set Course Tees</h4>
          </div>
          <div class="modal-body newTournamentWizard-body">
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <select id="newTournamentCourseTeesMS" multiple="multiple" name="newTournamentCourseTeesMS[]">
                  <!-- options added by director.js -->
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-6"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentCourseTeesBackButton">Back</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="newTournamentCourseTeesNextButton">Start (4-4)</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End New Tournament Wizard -->

    <!-- Edit tournament -->
    <div class="modal fade" id="editTournament" tabindex="-1" role="dialog" aria-labelledby="editTournamentLabel">
      <div class="modal-dialog modalEditTournament modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editTournamentLabel">Edit, View or Upload Tournament</h4>
          </div>
          <div class="modal-body">
            <div class="row bottomSpaced" style="z-index:1000;">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <label for="editTournamentSearchStartDate">Start date</label>
              </div>
              <div class="col-sm-3">
                <div class="input-group date" id="editTournamentSearchStartDateDateTimePicker">
                  <input type="text" class="form-control" id="editTournamentSearchStartDate" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
              <div class="col-sm-2">
                <label for="editTournamentSearchFinishDate">Finish date</label>
              </div>
              <div class="col-sm-3">
                <div class="input-group date" id="editTournamentSearchFinishDateDateTimePicker">
                  <input type="text" class="form-control" id="editTournamentSearchFinishDate" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <div class="input-group col-sm-12">
         		    <input id="editTournamentSearchInput" type="text" class="form-control input-sm" placeholder="Search" />
             	  <span class="input-group-btn">
                 	<button class="btn btn-info btn-sm" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                 	</button>
             	  </span>
             	</div>
            </div>
            <div class="row bottomSpaced">
             	<div class="list-group editTournamentList" id="editTournamentList">
             	</div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <label for="editTournamentUploadTournamentName">Name</label>
              </div>
              <div class="col-sm-3">
                <input class="form-control input-sm" id="editTournamentUploadTournamentName" type="text" />
              </div>
              <div class="col-sm-2">
                <label for="editTournamentUploadTournamentRoundDateDateTimePicker">Scheduled Date</label>
              </div>
              <div class="col-sm-2">
                <div class="input-group date input-sm" id="editTournamentUploadTournamentRoundDateDateTimePicker">
                  <input type="text" class="form-control input-sm" id="editTournamentUploadTournamentRoundDate" />
                  <span class="input-group-addon input-sm">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" id="editTournamentUploadTournament">Upload Tournament</button>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-8"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" id="saveTournamentButton">Save Tournaments</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Done</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit players -->
    <div class="modal fade" id="editPlayers" tabindex="-1" role="dialog" aria-labelledby="editPlayersLabel">
      <div class="modal-dialog modalEditPlayers modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editPlayersLabel">Edit Players</h4>
          </div>
          <div class="modal-body">
            <div class="row">
    	        <div class="input-group col-sm-12">
           		  <input id="editPlayersSearchInput" type="text" class="form-control input-sm" placeholder="Search" />
               	<span class="input-group-btn">
                 	<button class="btn btn-info btn-sm" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                 	</button>
               	</span>
              </div>
            </div>
            <div class="row bottomSpaced">
             	<div class="list-group editPlayersList" id="editPlayersList">
             	</div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <label for="newPlayerName">Name</label>
              </div>
              <div class="col-sm-3"><input class="form-control input-sm" id="newPlayerName" type="text" /></div>
              <div class="col-sm-2">
                <label for="newPlayerHandicapIndex">Handicap Index</label>
              </div>
              <div class="col-sm-1"><input class="form-control input-sm" id="newPlayerHandicapIndex" type="text" /></div>
              <div class="col-sm-2"><button class="btn fixed-width-btn btn-primary" id="newPlayerButton">New Player</button></div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-8"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" id="savePlayersButton">Save Players</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Done</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

{% if request.user|has_group:'Admins' %}
    <!-- Edit courses -->
    <div class="modal fade" id="editCourses" tabindex="-1" role="dialog" aria-labelledby="editCoursesLabel">
      <div class="modal-dialog modalEditCourses modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editCoursesLabel">Edit Courses</h4>
          </div>
          <div class="modal-body">
            <div class="row">
    	        <div class="input-group col-sm-12">
           		  <input id="editCoursesSearchInput" type="text" class="form-control input-sm" placeholder="Search" />
             	  <span class="input-group-btn">
                 	<button class="btn btn-info btn-sm" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                 	</button>
             	  </span>
              </div>
            </div>
            <div class="row bottomSpaced">
             	<div class="list-group editCoursesList" id="editCoursesList">
             	</div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <label for="newCourseName">Name</label>
              </div>
              <div class="col-sm-6"><input class="form-control input-sm" id="newCourseName" type="text" /></div>
              <div class="col-sm-2"><button class="btn fixed-width-btn btn-primary" id="newCourseButton">New Course</button></div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-8"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" id="editCourseButton">Save Courses</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% if request.user|has_group:'Admins' %}
    <!-- Import export backup -->
    <div class="modal fade" id="importExportBackup" tabindex="-1" role="dialog" aria-labelledby="importExportBackupLabel">
      <div class="modal-dialog modal-settings modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="importExportBackupLabel">Import/Export/Backup</h4>
          </div>
          <div class="modal-body">
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <label for="importExportCourse">Courses</label>
              </div>
              <div class="col-sm-4">
                <input class="form-control" list="importExportCourses" id="importExportCourse">
                  <datalist id="importExportCourses">
                    <!-- Values set by director.js -->
                  </datalist>
                </input>
              </div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="exportCourses">
                  Export
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="importCourses">
                  Import
                </button>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <label for="importExportRoundImportPlugin">Round Import Plugins</label>
              </div>
              <div class="col-sm-4">
                <input class="form-control" list="importExportRoundImportPlugins" id="importExportRoundImportPlugin">
                  <datalist id="importExportRoundImportPlugins">
                    <!-- Values set by director.js -->
                  </datalist>
                </input>
              </div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="exportRoundImportPlugins">
                  Export
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="importRoundImportPlugins">
                  Import
                </button>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <label for="importExportPlayerPlugin">Player Plugins</label>
              </div>
              <div class="col-sm-4">
                <input class="form-control" list="importExportPlayerPlugins" id="importExportPlayerPlugin">
                  <datalist id="importExportPlayerPlugins">
                    <!-- values set by director.js -->
                  </datalist>
                </input>
              </div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="exportPlayerPlugins">
                  Export
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="importPlayerPlugins">
                  Import
                </button>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <label for="importExportFormatPlugin">Format Plugins</label>
              </div>
              <div class="col-sm-4">
                <input class="form-control" list="importExportFormatPlugins" id="importExportFormatPlugin">
                  <datalist id="importExportFormatPlugins">
                    <!-- Values set by director.js -->
                  </datalist>
                </input>
              </div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="exportFormatPlugins">
                  Export
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="importFormatPlugins">
                  Import
                </button>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row bottomSpaced">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <label for="importExportDatabaseStatus">Database</label>
              </div>
              <div class="col-sm-2">
                <!-- Value set by director.js -->
                <input class="form-control" id="importExportDatabaseStatus" readonly />
              </div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="exportDatabase">
                  Export
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="importDatabase">
                  Import
                </button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <button class="btn fixed-width-btn btn-primary" id="backupDatabase">
                  Backup
                </button>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-10"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Done</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% if request.user|has_group:'Admins' %}
    <!-- Settings -->
    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel">
      <div class="modal-dialog modal-settings modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button style="float:right;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="float:left; width:200px;" id="settingsLabel">Settings</h4>
            <div>
              <ul style="text-align:center;" class="nav nav-tabs" role="tablist">
                <li role="presentation" id="settingsClubTab" class="active"><a href="#" aria-controls="settingsClubTab" role="tab" data-toggle="tab">Club</a></li>
                <li role="presentation" id="settingsPluginsTab"><a href="#" aria-controls="settingsPluginsTab" role="tab" data-toggle="tab">Plugins</a></li>
                <li role="presentation" id="settingsCoursesTab"><a href="#" aria-controls="settingsCoursesTab" role="tab" data-toggle="tab">Courses</a></li>
                <li role="presentation" id="settingsCourseTeesTab"><a href="#" aria-controls="settingsCourseTeesTab" role="tab" data-toggle="tab">Course Tees</a></li>
              </ul>
            </div>
          </div>
          <div class="modal-body">
            <div id="settingsContent"></div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-8"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-primary" data-id="id" id="storeSettingsButton">Save</button></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><button class="btn fixed-width-btn btn-default" data-dismiss="modal">Cancel</button></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Settings Club Content -->
    <div id="settingsClubContent">
      <div class="row bottomSpaced">
        <div class="col-sm-2">
          <label for="settingsClubName">Club Name</label>
        </div>
        <div class="col-sm-3">
          <!-- Value set by director.js -->
          <input class="form-control" type="text" id="settingsClubName" value="{{ clubs.0.name }}">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          <label for="settingsDefaultTournamentName">Default Tournament Name</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control" type="text" id="settingsDefaultTournamentName" value="{{ clubs.0.default_tournament_name }}">
        </div>
      </div>
      <div class="row bottomSpaced">
        <div class="col-sm-2">
          <label for="settingsLogo">Logo</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control" type="file" id="settingsLogo" value="{{ clubs.0.logo }}" />
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          <label for="settingsClubScoringType">Club Scoring Type</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control" list="clubTypes" id="settingsClubType" value="{{ clubs.0.player_plugin__name }}">
            <datalist id="clubTypes">
            {% for playerplugin in playerplugins %}
              <option data-value="{{ playerplugin.id }}">{{ playerplugin.name }}</option>
            {% endfor %}
            </datalist>
          </input>
        </div>
      </div>
    </div>

    <!-- Settings Plugins Content -->
    <div id="settingsPluginsContent">
      <div class="row bottomSpaced">
        <div class="col-sm-2">
          <label for="settingsClubData">Club Data</label>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="text" class="settingsClubData" id="settingsClubData" placeholder="{assn-number:<number>, club-number:<number>, password:<string>}" value="{{ clubs.0.data }}"/>
        </div>
      </div>
    </div>

    <!-- Settings Courses Content -->
    <div id="settingsCoursesContent">
      <div class="row bottomSpaced">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <select id="settingsClubCourses" multiple="multiple" name="settingsClubCourses[]">
          {% for course in courses %}
            {% if course.default == 0 %}
            <option value="{{ course.id }}">{{ course.name }}</option>
            {% endif %}
          {% endfor %}
          {% for course in courses %}
            {% if course.default == 1 %}
            <option value="{{ course.id }}" selected>{{ course.name }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>

    <!-- Settings Courses Content -->
    <div id="settingsCourseTeesContent">
      <div class="row bottomSpaced">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <select id="settingsClubTees" multiple="multiple" name="settingsClubTees[]">
          {% for courseTee in courseTees %}
            {% if courseTee.default == 0 %}
            <option value="{{ courseTee.id }}">{{ courseTee.course__name }} - {{ courseTee.name }}</option>
            {% endif %}
          {% endfor %}
          {% for courseTee in courseTees %}
            {% if courseTee.default == 1 %}
            <option value="{{ courseTee.id }}" selected>{{ courseTee.course__name }} - {{ courseTee.name }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
{% endif %}

    <!-- Loading modal -->
    <div class="modal fade" id="loadingDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:visible;">
		  <div class="modal-dialog modal-m">
		    <div class="modal-content">
		      <div class="modal-header"><h3 style="margin:0;">Loading...</h3></div>
		      <div class="modal-body">
		        <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
		      </div>
		    </div>
		  </div>
		</div>

    <!-- Error modal -->
    <div class="modal fade" id="errorDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:visible;">
		  <div class="modal-dialog modal-m">
		    <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="errorDialogLabel">Error!</h4>
          </div>
		      <div class="modal-body">
		        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
		            <div class="" id="errorHeader"></div>
		          </div>
		          <div class="col-sm-1"></div>
		        </div>
		        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
		            <div class="" id="errorText"></div>
		          </div>
              <div class="col-sm-1"></div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
{% endblock %}