<html>
  <head>
    <title>Install documentation</title>
  </head>
  <body>
    <ul>
      <li>Install latest python 3.6.2 64 bit</li>
      <li>pip install django</li>
      <li>pip install --upgrade django</li>
      <li>pip install reportlab</li>
      <li>pip install django-mathfilters</li>
      <li>pip install requests</li>
      <li>pip install urls</li>
      <li>pip install bs4</li>
      <li>apt-get install python-lxml</li>
      <li>pip install lxml</li>
      <li>pip install --upgrade setuptools</li>
      <li>must follow 'http://weasyprint.readthedocs.io/en/stable/install.html#windows' (no need to restart, though)</li>
      <li>used gtk3 64 bit</li>
      <li>https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer</li>
      <li>used 'Build Tools for Visual Studio 2017' w/ windows 10 SDK ends up about 5gb (wow)</li>
      <li>https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017</li>
      <li>open x86 Native Tools Command Prompt for Visual Studio 2017</li>
      <li>pip install weasyprint</li>
      <li>start new cmd prompt</li>
      <li>cd to scorekeeper directory</li>
      <li>python manage.py runserver</li>
      <li>http://localhost:8000/golf/</li>
    </ul>
  </body>
</html>