<html>
  <head>
    <title>Install documentation</title>
  </head>
  <body>
    <ul>
      <li>Install latest python 3.6.2 64 bit</li>
      <li>pip install django</li>
      <li>pip install --upgrade django</li>
      <li>pip install reportlab</li>
      <li>pip install django-mathfilters</li>
      <li>pip install requests</li>
      <li>pip install urls</li>
      <li>pip install bs4</li>
      <li>apt-get install python-lxml</li>
      <li>pip install lxml</li>
      <li>pip install --upgrade setuptools</li>
      <li>pip install weasyprint</li>
    </ul>
  </body>
</html>