<html>
  <head>
    <title>Scorekeeper Documentation</title>
  </head>
  <body>
    <ul>
      <li><a href="/golf/docsinstall">How to install to run locally</a></li>
      <li><a href="/golf/docscodestyle">How the source code should look</a></li>
      <li><a href="/golf/docseditting">How to edit the source code</a></li>
      <li><a href="/golf/docscommitting">How to commit the source code to github</a></li>
      <li><a href="/golf/docsrunning">How to run your changes in pythonanywhere</a></li>
    </ul>
    <h1>General documentation</h1>
    <p>
      <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> is a development language that is simple to read.  It is an interpretted and compiled language, so it is fast and yet very helpful when it comes to debugging.  Installed on the system using a Windows installer or apt-get install python
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/Django_(web_framework)">django (JANG-goh)</a> is the web framework selected for this project because it gets us running very quickly.  It also manages our data for us through the model.py file. Installed on the system with pip install django
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/SQLite">SQLite</a> is a datastore.  Contained in a single file, data can be viewed with sqlite edittor, but shouldn't be required because django is managing this for us.
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">bootstrap</a> is a front-end web framework which takes all of the effort out of standard reusable components.  Not installed, is loaded from base.html from bootstrap cdn
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/Font_Awesome">Font Awesome</a> is a font and icon framework.  Not using a ton, yet. Not installed, is loaded from base.html from bootstrap cdn
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/JQuery">jQuery</a> is a javascript library that creates a simple interface to the document object model (DOM) of a webpage.  Much faster and cross platform.  Should be used for all javascripting. Not installed, is loaded from jquery cdn
    </p>
    <p>
      There are several other libraries loaded, but they are for very specific components such as datetimepicker and quicksearch.
    </p>
    <h2>Cloud serving and such</h2>
    <p>
      <a href="https://en.wikipedia.org/wiki/PythonAnywhere">PythonAnywhere</a> is a web-hosting service for django and python.  Should have started here, the product is free for hosting a small site like ours
    </p>
  </body>
</html>