{% extends "golf/base.html" %}

{% load static %}

{% block title %} Edit Course Tee Details {% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
  <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
  <script>
    var courseId = {{ courseId }};
    var courseTees = escapeDjango('{{ courseTees|escapejs }}');
  </script>
  <link rel="stylesheet" type="text/css" href="{% static "scorekeeper/css/editcoursetees.css" %}">
  <script src="{% static "scorekeeper/js/editcoursetees.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="editCourseTeesTable">
        <table class="table editCourseTeesTable" id="editCourseTeesTable">
          <thead>
            <tr>
              <th>Default</th>
              <th>Priority</th>
              <th>Name</th>
              <th>Slope</th>
              <th>Color</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Default</th>
              <th>Priority</th>
              <th>Name</th>
              <th>Slope</th>
              <th>Color</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="modal fade" id="removeCourseTee" tabindex="-1" role="dialog" aria-labelledby="removeCourseTeeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="removeCourseTeeLabel">Remove Course Tee</h4>
          </div>
          <div class="modal-body">
            <div class="row"><div class="col-sm-12"><span class="label label-default">Are you sure you would like to remove this course tee?</span></div></div>
            <div class="row"><div class="col-sm-12"><span class="label label-default" id="removeCourseTeeName"></span></div></div>
            <div class="row"><div class="col-sm-12" id="removeCourseTeeError"></div></div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-4"><button type="button" class="btn btn-primary removeCourseTee" data-id="id" id="removeCourseTeeButton">Yes</button></div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
