{% extends "golf/base.html" %}

{% load static %}

{% block title %} Scorekeeper {% endblock %}

{% block head_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{% static "scorekeeper/js/jquery.redirect.js" %}" type="text/javascript"></script>
  <link href="{% static "scorekeeper/css/multi-select.css" %}" media="screen" rel="stylesheet" type="text/css">
  <script src="{% static "scorekeeper/js/jquery.multi-select.js" %}" type="text/javascript"></script>
  <script src="{% static "scorekeeper/js/jquery.quicksearch.js" %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static "/scorekeeper/css/bootstrap.fd.css" %}">
  <script src="{% static "scorekeeper/js/bootstrap.fd.js" %}" type="text/javascript"></script>
  <script src="{% static "scorekeeper/js/test.js" %}" type="text/javascript"></script>
  <link href="{% static "scorekeeper/css/test.css" %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-1"></div>
    <button class="col-sm-10" id="testButton">
      Show serialized data
    </button>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class=col-sm-1"></div>
    <div class="col-sm-10" id="testOutput">
    </div>
    <div class=col-sm-1"></div>
  </div>
{% endblock %}