
/*Main menu*/
body .modal-lg {
  width: 1220px;
}
.buttonHeading {
  font-weight: bold;
  text-align:center;
}
.buttonText {
  text-align: center;
}
.bottomSpaced {
  margin-bottom:8px;
}
.loadingHidden {
  visibility:hidden;
}
.settingsHidden {
  visibility:hidden;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  -moz-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.optionButton {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  width: 100%;
  height: 90px;
  background-size: 100%;
}
.newTournament {
  background: url('/static/scorekeeper/icons/golf.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.newTournamentRoundsList {
  height: 148px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
.editTournament {
  background: url('/static/scorekeeper/icons/golfgreen.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.loadPlayers {
  background: url('/static/scorekeeper/icons/golfcart.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.editPlayers {
  background: url('/static/scorekeeper/icons/golfplayers.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.settings {
  background: url('/static/scorekeeper/icons/settings.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.importexport {
  background: url('/static/scorekeeper/icons/importexport.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.editcourses {
  background: url('/static/scorekeeper/icons/golfpin.png') no-repeat;
  background-position: left center;
  color: #666666;
}

/*Bootstrap overrides*/
.fixed-width-btn {
  width: 164px;
}
.search-input {
  width: 451px;
}

/*New Tournament*/
.newTournamentRoundCount {
  width: 74px;
}
.newTournamentWizard-dialog {
  width: 1220px;
}
.newTournamentWizard-body {
  height: 165px;
}
#ms-newTournamentCoursesMS {
  height: 160px;
}
#ms-newTournamentCourseTeesMS {
  height: 160px;
}

/*Edit Tournament*/
#editTournamentSearch {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.editTournamentList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
.editTournamentId {
  width: 85px !important;
}
.editTournamentName {
  width: 625px !important;
}
.editTournamentStartDate {
  width: 100px !important;
}
.editTournamentFinishDate {
  width: 100px !important;
}

/*Edit Players*/
.editPlayersList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
.editPlayersClubMemberNumber {
  width: 105px !important;
}
.editPlayersName {
  width: 720px !important;
}
.editPlayersHandicapIndex {
  width: 85px !important;
}
/*Edit Courses*/
.editCoursesList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
.editCoursesPriority {
  width: 84px !important;
}
.editCoursesName {
  width: 813px !important;
}

/* Printouts */
.printouts {
  background: url('/static/scorekeeper/icons/golfball.png') no-repeat;
  background-position: left 20px;
  color: #666666;
}
.optionPrintouts {
  box-shadow: 0 8px 16px 0px rgba(0,0,0,0.4), 0 4px 5px 0px rgba(0,0,0,0.19);
  border-radius: 8px;
  width: 100%;
  height: 384px;
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonface !important;
  border-image: initial !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 1px !important;
  text-align: center !important;
}
.printoutsTextbox {
  padding-top: 18px;
}

/*Settings*/
.settingsClubData {
  width:650px;
}
#settingsClubContent {
  display: none;
}
#settingsPluginsContent {
  display:none;
}
#settingsCoursesContent {
  display: none;
}
#settingsCourseTeesContent {
  display: none;
}