
/*Bootstrap overrides*/
.btn-primary {
  width: 164px;
}
.btn-default {
  width: 164px;
}
body .modal-dialog {
    width: 1160px;
}

/*scorecard modal*/
.plusMinusButton {
    width: 24px;
}
.scorecardCell {
    width: 37px;
}
