
/*Main menu*/
body .modal-lg {
  width: 1220px;
}
.buttonHeading {
  font-weight: bold;
  text-align:center;
}
.bottomSpaced {
  margin-bottom:8px;
}
.loadingHidden {
  visibility:hidden;
}
.settingsHidden {
  visibility:hidden;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  -moz-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.optionButton {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  width: 100%;
  height: 90px;
  background-size: 100%;
}
.newTournament {
  background: url('/static/scorekeeper/icons/golf.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.newTournamentRoundsList {
  height: 148px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
.editTournament {
  background: url('/static/scorekeeper/icons/golfgreen.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.loadPlayers {
  background: url('/static/scorekeeper/icons/golfcart.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.editPlayers {
  background: url('/static/scorekeeper/icons/golfplayers.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.printIndexes {
  background: url('/static/scorekeeper/icons/golfbag.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.signupStarterSheets {
  background: url('/static/scorekeeper/icons/golfball.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.recentActivity {
  background: url('/static/scorekeeper/icons/hourglass.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.settings {
  background: url('/static/scorekeeper/icons/settings.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.importexport {
  background: url('/static/scorekeeper/icons/importexport.png') no-repeat;
  background-position: left center;
  color: #666666;
}
.editcourses {
  background: url('/static/scorekeeper/icons/golfpin.png') no-repeat;
  background-position: left center;
  color: #666666;
}

/*Bootstrap overrides*/
.fixed-width-btn {
  width: 164px;
}
.search-input {
  width: 451px;
}

/*New Tournament*/
.newTournamentRoundCount {
  width: 74px;
}
.newTournamentWizard-dialog {
  width: 1220px;
}
.newTournamentWizard-body {
  height: 165px;
}
#ms-newTournamentCoursesMS {
  height: 160px;
}
#ms-newTournamentCourseTeesMS {
  height: 160px;
}

/*Edit Tournament*/
#editTournamentSearch {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.editTournamentList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

/*Edit Players*/
#editPlayersSearch {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.editPlayersList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

/*Edit Courses*/
#editCoursesSearch {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.editCoursesList {
  height: 246px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

/*Recent Activity*/
#recentActivitySearch {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.recentActivityList {
  height: 288px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

/*Settings*/
.settingsClubData {
  width:650px;
}