.bottomSpaced {
  margin-bottom:8px;
}

/*Datatables.net overrides*/

/*Bootstrap overrides*/
.fixed-width-btn {
  width: 164px;
}
body .modal-dialog {
  width: 1300px;
}
.tournament-table {
  font-size: 80%;
}
.tournament-scorecard {
  font-size: 80%;
}
.dt-buttons {
  width:100%;
}

/*scorecard modal*/
.plusMinusButton {
  width: 24px;
}
.scorecardCell {
  width: 37px;
  font-size: 80%;
}
.scorecardBody {
  height:158px;
  overflow-y: scroll
}